<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Planning Poker</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='site.bundle.js') }}"></script>
    </body>
</html>